#开源固件23.05
CONFIG_TARGET_mediatek=y
CONFIG_TARGET_mediatek_filogic=y
#改型号，不知道对不对
CONFIG_TARGET_mediatek_filogic_DEVICE_cmcc_rax3000m-nand=y
CONFIG_PACKAGE_cfdisk=y
CONFIG_PACKAGE_f2fs-tools=y
CONFIG_PACKAGE_htop=y
CONFIG_PACKAGE_openssl-util=y
CONFIG_PACKAGE_kmod-fuse=y
CONFIG_PACKAGE_kmod-usb-net-ipheth=y
CONFIG_PACKAGE_kmod-usb-net-rndis=y
